* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

main {
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
}

ul li {
    list-style: none;
    padding-top: 0.5rem;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.hero {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.hero>h1 {
    font-size: 4rem;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    width: 100vw;
}

section {
    width: 50%;
}

.section-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.work-experience-article {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.reviews-wrapper {
    display: flex;
    padding-top: 2rem;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    padding-bottom: 5rem;
    justify-content: space-around;
}

.reviews-wrapper>blockquote {
    width: 15%;
}

blockquote>p {
    font-size: 19px;
    padding-bottom: 2rem;
}

blockquote>cite, h3 {
    color: grey;
}

footer {
    padding: 0.5rem;
    text-align: center;
}